<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layout/layout_center}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>404 Not found</title>
</head>
<div class="col-lg-8" layout:fragment="content_center">
    <article>
        <section class="mb-5"></section>
        <header class="mb-4">
            <h1 class="fw-bolder mb-1 text-center">요청하신 페이지를 찾을 수 없습니다.</h1>
        </header>
        <figure class="mb-4">
            <img class="img-fluid rounded"
                 src="https://c.pxhere.com/photos/0b/96/error_not_found_404_lego_mistake_4_0_number-1380359.jpg!d"
                 alt="..."/>
        </figure>
        <section class="mb-5"></section>
    </article>
</div>