<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layout/layout_center}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>회원가입</title>
</head>
<div class="col-lg-8" layout:fragment="content_center">
    <article>
        <header class="mb-4">
            <h1 class="fw-bolder mb-1 text-center">회원가입</h1>
        </header>
        <hr/>
        <section class="mb-5">
            <form method="POST" enctype="multipart/form-data" action="/api/v1/users" id="request">
                <div class="form-group row">
                    <label for="user_name" class="col-sm-2 col-form-label">본명</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="user_name" name="name">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="user_email" class="col-sm-2 col-form-label">이메일</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="user_email" name="email">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="user_password" class="col-sm-2 col-form-label">비밀번호</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="user_password" name="password">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="user_nickname" class="col-sm-2 col-form-label">닉네임</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="user_nickname" name="nickname">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="post_image" class="col-sm-2 col-form-label">프로필 사진</label>
                    <div class="col-sm-10">
                        <input type="file" accept="image/*" class="custom-file-input" id="post_image" name="file"
                               required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="user_school">학교 선택</label>
                    <div class="col-sm-10">
                        <select id="user_school" class="form-control" name="school">
                            <option selected>학교를 선택해주세요</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="button" class="btn btn-outline-dark" onclick="registerUser()">가입하기</button>
                    </div>
                </div>
            </form>
        </section>
    </article>

    <script>
        function registerUser() {
            const form = $("form")[0];
            const formData = new FormData(form);
            $.ajax({
                cache: false,
                url: "/api/v1/users",
                type: "post",
                processData: false,
                contentType: false,
                data: formData,
                success: function (data) {
                    if (data.length === 0) {
                        Swal.fire('등록 실패', '다시 한 번 시도해주세요.', 'error');
                    } else {
                        Swal.fire('회원가입 성공', '가입한 정보로 로그인해주세요!', 'success').then(() => location.href = '/');
                    }
                },
                error: function (e) {
                    Swal.fire('등록 실패', '다시 한 번 시도해주세요.', 'error');
                }
            });
        }

        function getSchools() {
            $.ajax({
                url: "/api/v1/schools",
                type: "get",
                dataType: "json",
                contentType: "application/json;charset=UTF-8",
                success: function (data) {
                    for (const datum of data) {
                        let option = $('<option>', {
                            value: datum.id,
                            text: datum.name + ' (' + datum.nation.name + ')'
                        });
                        option.appendTo('#user_school');
                    }
                },
                error: function (e) {
                    Swal.fire('학교 조회 실패', '다시 한 번 시도해주세요.', 'error');
                }
            });
        }

        $(document).ready(function () {
            $('#free_li').addClass('active');
            getSchools();
        });
    </script>
</div>